*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #343a40;
    margin: auto;
    position: relative;
}
.section-title{
    font-size: 1.5vmax;
    color: white;
}
.main-container{
    margin:1%;
}
.flex.view{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 20px ;
}
.cards{
    margin: 10px
}
.input-div{
    text-align: center;
}
.search{
    width: 20%;
}
.cards{
    transition: all .5s;
}
.cards:hover {
    transform:scale(1.1);
    cursor: pointer;
}
 .modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-inner{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    background-color: rgba(27, 22, 22, 0.959);
    flex-direction: column;
    border-radius: 10px
}
.movie-info{
    width: 60%;
    display:flex;
    justify-content: space-between;
    color: white;
    font-size: .8rem;
    overflow: auto;
}
h3{
    margin-top: 0;
    margin-bottom: .5rem;
}
.movie-info > div{
    width: 45%;
}

.trailer-player{
    width: 60%;
    margin-bottom: 20px;
}
.hidden{
    visibility: hidden;
}
.ratings{
    text-align: center;
}
.button-container{
    text-align: right;
    width: 80%;
}
.modal-exit{
    color: white;
    background-color: transparent;
    border-radius: 50% ;
    border: none;
}




/* Scrollbar style */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
