*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #343a40;
    margin: auto;
    position: relative;
}
.section-title{
    font-size: 1.5vmax;
    color: white;
}
.main-container{
    margin:1%;
}
.flex{
    display: flex;

}
.view{
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 20px ;
}
.center{
    justify-content: center;
    align-items: center;
}
.related-container > div > img{
    height: 150px;
}

.cards{
    margin: 10px
}
.input-div{
    text-align: center;
}
.search{
    width: 20%;
    height: 2rem;
    border-radius: 10px;
    background-color: #000;
    box-shadow: none;
    color: white;
    border: 1px solid transparent;
    padding-left: 2rem;
    outline: none;
    font-size: 16px;
    transition: 0.3s ease all;
}

.cards{
    transition: all .5s;
}
.cards:hover {
    transform:scale(1.1);
    cursor: pointer;
}
 .modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:linear-gradient(rgba(5, 1, 1, 0.603), rgba(5, 1, 1, 0.884), rgba(5, 1, 1, 0.603)) ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-inner{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(99, 98, 98, 0.9), rgba(0, 0, 0, 0.9));
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 20px;

}
.movie-info{
    width: 80%;
    display:flex;
    justify-content: space-between;
    color: white;
    font-size: .8rem;
}
.movie-overview{
    height:8rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space:;
}
h3{
    margin-top: 0;
    margin-bottom: .5rem;
    color: white;
    margin-top: 20px;
}
.movie-info > div{
    width: 45%;
    margin-bottom: 20px;
    display: inline-block;
}

.trailer-player{
    width: 80%;
    margin-bottom: 10px;
    margin-top: 50px;
}
.hidden{
    visibility: hidden;
}
.ratings{
    text-align: center;
}
.button-container{
    text-align: right;
    width: 80%;
    margin-top: 20px;
}
.modal-exit:hover{
    cursor: pointer;
}
.modal-exit{
    color: white;
    background-color: transparent;
    border-radius: 50% ;
    border: none;
}




/* Scrollbar style */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
